#greet {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  border: 10px groove pink;
  width: 1550px;
  font-size: 58px;
  color: palevioletred;
}
#idk {
  display:flex;
  justify-content: center;
}